services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api_php
    volumes:
      - ./:/var/www/html
    ports:
      - "8000:8000"
    networks:
      - api_network
    environment:
      - APP_ENV=dev
      - DATABASE_URL=postgresql://app:app@db:5432/app?serverVersion=15&charset=utf8
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: api_db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - api_network

networks:
  api_network:
    driver: bridge

volumes:
  db_data:
